*{
	padding: 0px;
	margin: 0px;
 

}
.clear{
	clear:both;


}
img{
	display: block;
}
a{
	text-decoration: none;
}
ul{
	list-style: none;
}
p,dl,dd{
	margin: 0px;
	padding: 0px;
}
body{
	font: 14px/1.5 "Helvetice Neue";
	height: 2500px;
	min-width: 1226px;
}

.topar{
	
	background-color: #333;
	height: 40px;
}
.container{

	margin:0 auto;
	width: 1226px;
}
.container::before,.container::after{
	content: "";
	display: table;
}
.container::after{
	clear: both;
}
.topar a{
	color: #b0b0b0;
	font-size: 12px;
}
.topar a:hover{
	color: #fff;
}
.topar-nav{
	float: left;
	line-height: 40px;
	height: 40px;
	font-size: 0;	
}
.topar-nav span{
	font-size: 12px;
	color: #424242;
	font-family: sans-serif;
	margin:0.5em;

}
.topar-info,.topar-cart{
	float: right;
}
.topar-cart a {
	
	display: block;
	height: 40px;
	line-height: 40px;
	text-align: center;
	width: 120px;
	background-color: #424242;
}
.topar-cart a:hover{
	background-color: #fff;
	color: #ff6700;
}
.topar-cart span{
	margin-right: -4px;
	font-size: 12px;
}
.topar-info{
	margin-right: 15px;

}
.topar-info a{
	float: left;
	padding:0 5px;
	line-height: 40px;
	height:40px;
}
.topar-info span{
	float: left;
	font-family: sans-serif;
	font-size: 12px;
	color: #424242;
	line-height: 40px;
	height: 40px;
}
.topar-info .sep{
	padding: 0 10px;
}


.header{
	height: 100px;
	margin:0 auto;
}
.header-log{
	float: left;
	width: 62px;
	margin-top: 22px;	
}

.header-log a{
	display: block;
	width: 55px;
	height: 55px;
	background: #ff6700 url(logo111.jpg) no-repeat 50% 50%;
}
.header-log .Lr{
	text-align: left;
	text-indent: -99992em;
	
}
.header-nav{
	float: left;
	width: 820px;
	height: 100px;
	
}
.header-nav .nav-list{
	width: 820px;
	height: 88px;
	font-size: 16px;
	padding: 12px 0 0 30px;
}
.header-nav .nav-list .nav-category{
	float: left;
	width: 127px;
	padding: 0 15px;
}
.header-nav .nav-list .nav-category a{
	display: block;
	text-align: right;
	padding: 26px 0 38px;
	color: #333;
}
.header-nav .nav-list .nav-item{
	float: left;
}
.header-nav .nav-list .nav-item a{
	display: block;
	padding: 26px 10px 38px;
	color: #333;
}
.header-nav .nav-list .nav-item a:hover{
	color: #ff6700;

}
.header-search{
	float: right;
	width: 296px;
	
	height: 50px;
	margin-top: 25px;
}
.header-search .search-form{
	width: 296px;
	display: block;
	height: 50px;
	position: relative;
}
.header-search .search-form .search-text{
	display: block;
	height: 50px;
	width: 245px;
	line-height: 50px;
	border: 1px solid #e0e0e0;
	outline: 0;
	position: absolute;
	top: 0;
	right:0;
}
.header-search .search-form .search-btn{
	display: block;
	width: 52px;
	height: 50px;
	border: 1px solid #e0e0e0;
	line-height: 24px;
	font-size: 24px;
	color: #616161;
	outline: 0;
	background: #fff;
	position: absolute;
	top: 0;
	right:0;
}
.header-search .search-form .search-btn:hover{
	color: #fff;
	background-color: #ff6700;
}


.seckill{
	background-color: #f5f5f5;
}
.seckill-head{
	background: url(seckill-head.jpg) no-repeat 50% 0;
	margin-top: 19px;
	height: 170px;
	
}
.seckill-nav{
	margin:-68px 0 22px;
}
.seckill-fixed{
	position: fixed;
	top:60px;
}

.seckill-nav ul{
	height: 68px;
	background:#414141;
	width: 1226px;

}
.seckill-nav li{
	display: block;
	float: left;
	color: #fff;
	width: 20%;
	line-height: 68px;
	text-align: center;
	cursor: pointer;
}
.seckill-nav li em{
	display: inline-block;
	font-style: normal;
	font-size: 18px;
	line-height: 1;
	vertical-align: middle;
}
.seckill-nav li span{
	display: inline-block;
	text-align: left;
	line-height: 1px;
	vertical-align: middle;
	font-size: 14px;
}
.seckill-nav .active{
	background-color: #f1393a;

}
.seckill-nav ul li span em{
	display: inline-block;
	font-size: 14px;
	margin-left: 0;
	font-style: normal;
	text-align: left;
	line-height: 20px;

}
.seckill-goods .active{
	display: block;
}
.seckill-goods ul{
	/*border: 1px solid black;*/
	margin-right: -13px;
	display: none;
}

.seckill-goods li{
	float: left;
	width: 400px;
	height: 190px;
	background-color: #fff;
	margin-right: 13px;
	margin-bottom: 13px;
    /*border: 1px solid black;*/

}
.seckill-goods .bg{
	float: left;
	width: 190px;
	height: 190px;
	
}
.seckill-goods .bg img{
	height: 190px;

}
.seckill-goods .info{
	padding-top: 15px;
	width: 190px;
	height: 190px;
	/*border: 1px solid black;*/
	margin-left: 210px;
}
.seckill-goods .info .name{
	font-size: 16px;
	color: #333;
	height: 16px;
	line-height: 16px;
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.seckill-goods .info .tips{
	color: #b0b0b0;
	font-size: 12px;
	line-height: 12px;
	height: 12px;
	margin-top: 10px;
}
.seckill-goods .info .price{
	font-size: 16px;
	line-height: 16px;
	color: #f1393a;
	margin-top: 14px;
	margin-bottom: 0;

}
.seckill-goods .info .price del{
	color: #999;
	font-size: 12px;
	line-height: 12px;
	margin-left: 10px;
}
.seckill-goods .info .bnt{
	display: inline-block;
	width: 118px;
	height: 28px;
	font-size: 14px;
	color: #fff;
	line-height: 28px;
	background:#f1393a ;
	text-align:center;
	margin-top: 20px;
	border: 1px solid #f1393a;

}
.seckill-goods .info .ren{
	margin-top: 20px;
	font-size: 14px;
	color: #999;
	margin-top: 10px;

}
.seckill-notice{
	font-size: 12px;
	color: #999;
	margin-top: 100px;
	padding-bottom: 35px
}